* {
	font-size: 36px;
}

input[type="checkbox"] {
	width: 30px;
}

.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}
